@font-face {
    font-family: Inconsolata;
    src: url(./fonts/Inconsolata/Inconsolata_Condensed-Bold.ttf);
}
@font-face {
    font-family: Inconsolata-Light;
    src: url(./fonts/Inconsolata/Inconsolata-Light.ttf);
}

html{
    scroll-behavior: smooth;
}

.flexbox-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
body{
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(255,207,90,1) 78%, rgba(252,70,107,1) 100%);
    font-family: 'Inconsolata';
    /* text-transform: uppercase; */
    margin: 0;
    padding: 0;
}

nav{
    width: 40%;
    font-size: 1.5em;
    text-transform: uppercase;
 
}
nav :hover{
    font-size: 1.5em;
    color:#FC4B6B;
}

a{
    text-decoration: none;
    color: black;
}

.flexbox-space-around img{
    width: 12%;
}

ul{
    list-style-type: none;
}

.info_contenedor{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 5%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 2px;
}

.info_jml{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
}

h1{
    text-transform: uppercase;
    font-size: 3em;
}

.info_jml p {
    width: 45%;
    font-size: 1.7em;
    margin-top: 0px;
    font-family: Inconsolata-Light;
}


button{
    background-color: white;
    padding: 10px 40px 10px 40px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Inconsolata;
    font-size: 1.3em;

}

button:hover{
    background-color: black;
    color: white;
}

.info_foto{
    display: flex;
    justify-content: center;
}

/* .info_foto img {
    width: 50%
    border-radius: 10px;
    box-shadow: 8px 8px 10px #aaa;

    ME GUSTARÍA SABER POR QUÉ SI LO HAGO ASÍ NO ME LO TOMA. TUVE QUE HACER UNA CLASE APARTE SOLO PARA LA FOTO. MUCHAS GRACIAS.
} */

.foto_perfil{
    border-radius: 200px;
    box-shadow: 4px 4px 8px 4px rgb(0, 0, 0);
    width: 55%;
}

.info_empresa{
    font-size: 2em;
    justify-content: center;
    padding: 20px 25% 20px 25%;
    font-family: Inconsolata-Light;
}

.que-hacemos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 2px;
    font-family: Inconsolata-Light
}

.tu-web{
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}

.tu-web h2{
    font-size: 3.3em;
    font-family: Inconsolata
}

.tu-web p{
    font-size: 1.7em;
}

.contenedor-que-hacemos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
}

.grupo-1 {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    box-shadow: 1px 1px 15px 5px #000000;
    border-radius: 10px;
}

.grupo-1 p{
    text-align: center;
    margin-bottom: 10%;
}

.grupo-1 i{
    font-size: 6em;
    margin-top: 15%;
}

.redes{
    margin-left: 20%;
}

.redes i{
    font-size: 4.5em;
    width: 35%;
    text-align: center;
}

.contenedor-creacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Inconsolata-Light;
    padding: 5%;
    
}

.contenedor-creacion h2{
    font-size: 3.3em;
    font-family: Inconsolata
}

.contenedor-creacion p{
    font-size: 1.7em;
}
.contenedor-numeros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 5%;
    
}

.contenedor-numeros i{
    font-size: 4em;
    text-align: center;
    width: 100%;

}
.contenedor-numeros p{
    font-size: 1.3em;
    text-align: center;
}

.contenedor-numeros h3{
    font-size: 2em;
    text-align: center;
}

.info-creacion {
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}

.contenedor-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    border-top: solid;
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 2px;
    font-family: Inconsolata-Light
}

.contenedor-videos h2{
    font-size: 3.3em;
    font-family: Inconsolata
}

.contenedor-videos p{
    font-size: 1.7em;
}

.info-videos {
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}

.grid-video{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    padding: 1% 1%;
    padding-bottom: 10%;
}

.contenedor-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid;
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 2px;
    font-family: Inconsolata-Light
}

.mini-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;    
}

.mini-contacto h2{
    font-size: 3.3em;
    font-family: Inconsolata;
    text-align: center;
}

.contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 10%;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: solid;
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 2px;
}

.footer img{
    width: 12%;
}

@media (max-width: 1440px){
    nav{
        width: 50%;
    }
    .foto_perfil{
        border-radius: 200px;
        box-shadow: 4px 4px 8px 4px rgb(0, 0, 0);
        height: 70%;
        margin-top: 11%;
    }
    .info_jml p {
        width: 50%;
        font-size: 1.7em;
        margin-top: 0px;
        font-family: Inconsolata-Light;
    }
}
